a {
  transition: opacity 0.7ms;
  list-style: none;
  
  &:hover {
    opacity: 0.7;
  }
}

.btn {
  padding: 10px;
  background: #2196F3;
  border: none;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  transition: opacity 0.7ms;
  
  &:hover {
    opacity: 0.7;
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}


.preloader {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  z-index: 100000000;
  justify-content: center;
  align-items: center;
  visibility: visible;
  background-color: rgba(#fff, 0.6);
  opacity: 1;
  color: #222;
  transition: opacity 0.4s ease, visibility 0.4s ease;
  
  &__icon  {
    width: 40px;
    height: 40px;
    border: 4px solid #333;
    border-top: 4px solid transparent;
    border-radius: 50%;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  
  &--hidden {
    visibility: hidden;
    opacity: 0;
  }
}


.related-posts {
  &__wrap {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 80%;
    padding: 20px;
    margin: auto;
    border: 1px solid rgba(135, 134, 134, 0.84);
    flex-flow: column;
  }
}
